<h1>Teams</h1>

<ul class="list-group">
  <% @teams.each_with_index do |team, index| %>
    <li class="list-group-item <%= index.odd? ? 'list-group-item-secondary' : 'list-group-item-light' %>">
      <%= link_to "#{team.id}. #{team.name}", team %>
      <% team.fencers.each do |fencer| %>
        <%= fencer.name %> <%= fencer.surname %> - <%= fencer.club %> ||
      <% end %>

    </li>
  <% end %>
</ul>

<% if user_signed_in? %>
  <%= link_to 'Create', new_team_path %>
  <%= link_to 'Generate random teams', generate_random_teams_path, method: :post %>
<% end %>

<h1> Fencers without club </h1>
<ul class="list-group">
  <% @fencers_without_team.each_with_index do |fencer, index| %>
      <li class="list-group-item <%= index.odd? ? 'list-group-item-secondary' : 'list-group-item-light' %>">
        <%= fencer.name %> - <%= fencer.club %>
      </li>
  <% end %>
</ul>
