<h1><%= @team.fake_id %>. <%= @team.name %></h1>

<ul>
  <% @team.fencers.each do |fencer| %>
    <li> <%= fencer.name %> <%= fencer.surname %> - <%= fencer.club %> - <%= fencer.nationality %></li>
  <% end %>

  <% if @team.poule_id %>
    <li> Poule: <%= link_to @team.poule.fake_id, poule_path(@team.poule_id) %> Pista: <%= @team.poule&.piste %></li>
    <li> Poule: Pista: <%= @team.poule&.piste %></li>
  <% end %>
  <% if @team.elimination_group %>
    <li> Grupo: <%= link_to @team.elimination_group.id, @team.elimination_group %> </li>
  <% end %>
</ul>

<% if user_signed_in? %>
  <ul>
    <li><%= link_to 'Editar', edit_team_path(@team) %></li>
    <li><%= link_to 'Borrar', team_path(@team),
      method: :delete,
      data: { confirm: 'Are you sure?' } %></li>
    <li><%= link_to 'Volver', teams_path %></li>
  </ul>
<% end %>
