<h1><%= @team.id %></h1>

<ul>
  <% @team.fencers.each do |fencer| %>
    <li> <%= fencer.name %> <%= fencer.surname %> - <%= fencer.club %> - <%= fencer.nationality %></li>
  <% end %>

  <% if @team.poule_id %>
    <li> Poule: <%= link_to @team.poule_id, poule_path(@team.poule_id) %> Pista: <%= nil %></li>
  <% else %>
    <li> Poule: Pista: <%= nil %></li>
  <% end %>
  <li> Grupo: <%= nil %> </li>
</ul>

<% if user_signed_in? %>
  <ul>
    <li><%= link_to 'Edit', edit_team_path(@team) %></li>
    <li><%= link_to 'Destroy', team_path(@team),
      method: :delete,
      data: { confirm: 'Are you sure?' } %></li>
    <li><%= link_to 'Back', teams_path %></li>
  </ul>
<% end %>
