<h1>Grupos</h1>

<ul class="list-group">
  <% @groups.each_with_index do |group, index| %>
    <h2> <%= link_to "Grupo #{index + 1}", group %></h2>
    <% group.tableaus.each do |size, teams| %>
      <% teams.each do |position, team_id| %>
        <li class="list-group-item <%= index.odd? ? 'list-group-item-secondary' : 'list-group-item-light' %>">
          <%= position %>. <%= link_to team_name(team_id), team_path(team_id) %> <%= team_fencer_names(team_id) %>
        </li>
      <% end %>
    <% end %>
  <% end %>
</ul>

<% if user_signed_in? %>
  <%= link_to 'Generar equipos desde la clasificacion', generate_groups_path, method: :post %>
<% end %>
