<div class"table-responsive">
  <table class="table table-borderless">
    <thead>
      <tr class='table-primary'>
        <th>Tabl칩n de 8</th>
        <th>Semifinales</th>
        <th>Final</th>
        <th>Ganador</th>
      </tr>
    </thead>
    <%= body_tags %>
  </table>
</div>

<% if user_signed_in? %>
  <h3> A침adir resultado </h3>
  <%= form_with url: "/add_group_result/#{@group.id}", method: :post do |form| %>
    <%= form.label :tablon %><br>
    <%= form.select :tableau,
      options_for_select(@tableau_size, nil),
      {},
      { class: 'form-control', required: true, include_blank: true } %>

    <%= form.label :posicion %><br>
    <%= form.select :position,
      options_for_select(@positions, nil),
      {},
      { class: 'form-control', required: true, include_blank: true } %>
    <%= form.label :id_equipo %><br>
    <%= form.select :team_id,
      options_for_select(@team_ids, nil),
      {},
      { class: 'form-control', required: true, include_blank: true } %>

    <button type="submit" class="btn btn-primary">A침adir</button>
  <% end %>

  <h3> A침adir clasificacion final </h3>
  <%= form_with url: "/add_final_classification/#{@group.id}", method: :post do |form| %>
    <div class="form-group">
      <%= form.label :clasificacion_final %>
      <%= form.text_field :group_classification, { class: 'form-control', required: true } %>
    </div>

    <button type="submit" class="btn btn-primary">Crear</button>
  <% end %>

<% end %>
