<h1>Poules</h1>


<%= form_with url: '/poules', method: :get do |form| %>
  <div class="btn-toolbar mb-3" role="toolbar" aria-label="Poule filters">
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text" id="btnGroupAddon">Nombre equipo</div>
      </div>
      <%= form.text_field :team_name, { class: 'form-control', placeholder: 'Nombre equipo', aria: { describedby: 'btnGroupAddon', label: 'Nombre equipo'}, value: @old_params[:team_name] } %>
    </div>

    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text" id="btnGroupAddon">Poule ID</div>
      </div>
      <%= form.select :poule_id, options_from_collection_for_select(@all_poules, 'id', 'id', @old_params[:poule_id] || nil), {include_blank: true}, { class: 'form-control', include_blank: true } %>
    </div>

    <button type="submit" class="btn btn-primary">Filtrar</button>
  </div>
<% end %>

<% @poules.each do |poule| %>
  <div class='table-responsive'>
    <table class="table table-striped table-bordered">
      <thead>
        <tr class='table-primary'>
          <th scope="col"><%= link_to "Poule No  #{poule.fake_id}. Piste: #{poule.piste}", poule %></th>
          <% (poule.teams.count + 2).times do |time| %>
            <th scope="col"><%= [0, poule.teams.count + 1].include?(time) ? '' : time %></th>
          <% end %>

          <th scope="col">V/M</th>
          <th scope="col">TD-TR</th>
          <th scope="col">TD</th>
        </tr>
      </thead>
      <tbody>
        <% calculate_results_from_poule(poule.id).each_with_index do |result, result_index| %>
          <tr>
            <th scope="row"><%= result.first %>
            <% result[1..-1].each_with_index do |cell_value, cell_index| %>
              <td class='<%= cell_index != 0 && cell_index < (result.count - 5) && cell_index - 1 == result_index ?
                'bg-secondary' :
                ''%>'>
                <%= cell_value %>
              </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>

<% if user_signed_in? %>
  <%= form_with url: '/generate_random_poules', method: :post do |form| %>
    <div class="form-group">
      <%= form.label :max_por_poule %>
      <%= form.number_field :max_per_poule, { class: 'form-control', required: true, default: 6 } %>
    </div>

    <button type="submit" class="btn btn-primary">Crear</button>
  <% end %>
<% end %>
