<h1><%= @poule.id %></h1>

<div class='table-responsive'>
  <table class="table table-striped table-bordered">
    <thead>
      <tr class='table-primary'>
        <th scope="col"><%= "Poule No #{@poule.id}. Piste: #{@poule.piste}" %></th>

        <% (@poule.teams.count + 2).times do |time| %>
          <th scope="col"><%= [0, @poule.teams.count + 1].include?(time) ? '' : time %></th>
        <% end %>

        <th scope="col">V/M</th>
        <th scope="col">TD-TR</th>
        <th scope="col">TD</th>
      </tr>
    </thead>
    <tbody>
      <% @poule_results.each_with_index do |result, result_index| %>
        <tr>
          <th scope="row"><%= result.first %>
          <% result[1..-1].each_with_index do |cell_value, cell_index| %>
            <td class='<%= cell_index != 0 && cell_index < (result.count - 5) && cell_index - 1 == result_index ?
              'bg-secondary' :
              ''%>'>
              <%= cell_value %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>


<h1> Teams </h1>
<ul>
  <% @teams.each do |team| %>
    <li>
      <%= team.name %> <%= team_fencer_names(team.id) %>
    </li>
  <% end %>
</ul>

<h1> Assault order </h1>
<ul>
  <% @poule.assault_order.each do |key, value| %>
    <li> <%= key %>:
      <%= @teams[value['first_team'].to_i - 1].name %>
      ||
      <%= @teams[value['second_team'].to_i - 1].name %>
    </li>
  <% end %>
</ul>

<% if user_signed_in? %>
  <h1> Add poule piste </h1>
  <%= form_with url: "/poules/#{@poule.id}", method: :patch do |form| %>
    <div class="form-group">
      <%= form.label :piste %>
      <%= form.number_field :piste, { class: 'form-control' } %>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  <% end %>

  <h1> Add poule results </h1>

  <%= form_with url: "/add_poule_result/#{@poule.id}", method: :post do |form| %>
    <div class="form-group">
      <%= form.label :team_id %><br>
      <%= form.select :team_id, options_from_collection_for_select(@teams, 'id', 'id'), {}, { class: 'form-control' } %>
    </div>

    <div class="form-group">
      <%= form.label :poule_results %>
      <%= form.text_field :poule_results, { class: 'form-control', required: true } %>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  <% end %>
<% end %>
