<h1>Tiradoras</h1>

<ul class="list-group">
  <% @fencers.each_with_index do |fencer, index| %>
    <li class="list-group-item <%= index.odd? ? 'list-group-item-secondary' : 'list-group-item-light' %>">
      <%= link_to fencer.name, fencer %>
    </li>
  <% end %>
</ul>

<%= form_with url: '/import_fencers_text', method: :post do |form| %>
  <div class="form-group">
    <%= form.label :Tiradoras %>
    <%= form.text_field :users_import, { class: 'form-control', required: true } %>
  </div>

  <button type="submit" class="btn btn-primary">Importar</button>
<% end %>

<%= form_with url: '/import_fencers_file', method: :post do |form| %>
  <div class="form-group">
    <%= form.label :Tiradoras %>
    <%= form.file_field :users_import, { class: 'form-control', required: true } %>
  </div>

  <button type="submit" class="btn btn-primary">Importar</button>
<% end %>
