<h1>Tiradoras</h1>

<%= form_with url: '/fencers', method: :get do |form| %>
  <div class="btn-toolbar mb-3" role="toolbar" aria-label="Toolbar with button groups">
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text" id="btnGroupAddon">Nombre</div>
      </div>
      <%= form.text_field :name, { class: 'form-control', placeholder: 'Nombre', aria: { describedby: 'btnGroupAddon', label: 'Nombre'}, value: @old_params[:name] } %>
    </div>

    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text" id="btnGroupAddon">Apellidos</div>
      </div>
      <%= form.text_field :surname, { class: 'form-control', placeholder: 'Apellidos', aria: { describedby: 'btnGroupAddon', label: 'Apellidos'}, value: @old_params[:surname] } %>
    </div>

    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text" id="btnGroupAddon">Club</div>
      </div>
      <%= form.text_field :club, { class: 'form-control', placeholder: 'Club', aria: { describedby: 'btnGroupAddon', label: 'Club'}, value: @old_params[:club] } %>
    </div>

    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text" id="btnGroupAddon">Nacionalidad</div>
      </div>
      <%= form.text_field :nationality, { class: 'form-control', placeholder: 'Nacionalidad', aria: { describedby: 'btnGroupAddon', label: 'Nacionalidad'}, value: @old_params[:nationality] } %>
    </div>

    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text" id="btnGroupAddon">Por página</div>
      </div>
      <%= form.number_field :per_page, { class: 'form-control', aria: { describedby: 'btnGroupAddon', label: 'Por página'}, value: @per_page } %>
    </div>

    <button type="submit" class="btn btn-primary">Filtrar</button>
  </div>
<% end %>

<ul class="list-group">
  <% @fencers.each_with_index do |fencer, index| %>
    <li class="list-group-item <%= index.odd? ? 'list-group-item-secondary' : 'list-group-item-light' %>">
      <%= link_to "#{fencer.name} #{fencer.surname} - #{fencer.club} - #{fencer.nationality}", fencer %>
    </li>
  <% end %>
</ul>

<% if user_signed_in? %>
  <%= link_to 'Crear', new_fencer_path %>
  <p>

  <%= link_to 'Exportar como texto', export_fencers_text_path, method: :post %>
  <%= link_to 'Exportar como fichero (csv)', export_fencers_file_path, method: :post %>
  <p>

  <%= link_to 'Importar tiradoras', import_fencers_path %>

  <% unless @export_text.blank? %>
    <h1> Exportar resultados</h1>

    <p>

    <%= @export_text %>
  <% end %>
<% end %>

<%= paginate @fencers %>
