<h1>Fencers</h1>

<%= form_with url: '/fencers', method: :get do |form| %>
  <div class="btn-toolbar mb-3" role="toolbar" aria-label="Toolbar with button groups">
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text" id="btnGroupAddon">Name</div>
      </div>
      <%= form.text_field :name, { class: 'form-control', placeholder: 'Name', aria: { describedby: 'btnGroupAddon', label: 'Name'}, value: @old_params[:name] } %>
    </div>

    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text" id="btnGroupAddon">Surname</div>
      </div>
      <%= form.text_field :surname, { class: 'form-control', placeholder: 'Surname', aria: { describedby: 'btnGroupAddon', label: 'Surname'}, value: @old_params[:surname] } %>
    </div>

    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text" id="btnGroupAddon">Club</div>
      </div>
      <%= form.text_field :club, { class: 'form-control', placeholder: 'Club', aria: { describedby: 'btnGroupAddon', label: 'Club'}, value: @old_params[:club] } %>
    </div>

    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text" id="btnGroupAddon">Nationality</div>
      </div>
      <%= form.text_field :nationality, { class: 'form-control', placeholder: 'Nationality', aria: { describedby: 'btnGroupAddon', label: 'Nationality'}, value: @old_params[:nationality] } %>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
<% end %>

<ul class="list-group">
  <% @fencers.each_with_index do |fencer, index| %>
    <li class="list-group-item <%= index.odd? ? 'list-group-item-secondary' : 'list-group-item-light' %>">
      <%= link_to "#{fencer.name} #{fencer.surname} - #{fencer.club} - #{fencer.nationality}", fencer %>
    </li>
  <% end %>
</ul>

<% if user_signed_in? %>
  <%= link_to 'Create', new_fencer_path %>
  <p>

  <%= link_to 'Export as text', export_fencers_text_path, method: :post %>
  <%= link_to 'Export as file (csv)', export_fencers_file_path, method: :post %>
  <p>

  <%= link_to 'Import fencers', import_fencers_path %>

  <% unless @export_text.blank? %>
    <h1> Export result</h1>

    <p>

    <%= @export_text %>
  <% end %>
<% end %>

<%= paginate @fencers %>
