<h1>Fencers</h1>

<ul class="list-group">
  <% @fencers.each_with_index do |fencer, index| %>
    <li class="list-group-item <%= index.odd? ? 'list-group-item-secondary' : 'list-group-item-light' %>">
      <%= link_to fencer.name, fencer %>
    </li>
  <% end %>
</ul>

<%= link_to 'Create', new_fencer_path %>
<%= link_to 'Export as text', export_fencers_text_path, method: :post %>
<%= link_to 'Export as file (csv)', export_fencers_file_path, method: :post %>
