<h1><%= @fencer.name %></h1>

<p>Club: <%= @fencer.club %></p>
<p>Apellidos:  <%= @fencer.surname %></p>
<p>Nacionalidad: <%= @fencer.nationality %></p>

<% if @team %>
  <h2> Equipo </h2>
  <ul>
    <% @team.fencers.each do |fencer| %>
      <li> <%= fencer.name %> <%= fencer.surname %> - <%= fencer.club %> - <%= fencer.nationality %></li>
    <% end %>

    <li> Nombre: <%= @team.name %> </li>
    <% if @team.poule_id %>
      <li> Poule: <%= link_to @team.poule.fake_id, poule_path(@team.poule_id) %> Pista: <%= @team.poule&.piste %></li>
    <% end %>

    <% if @team.elimination_group_id %>
      <li> Grupo: <%= link_to fake_group_id(@team.elimination_group.id), @team.elimination_group %> </li>
    <% end %>
  <% end %>
  </ul>

<% if user_signed_in? %>
  <ul>
    <li><%= link_to 'Editar', edit_fencer_path(@fencer) %></li>
    <li><%= link_to 'Borrar', fencer_path(@fencer),
      method: :delete,
      data: { confirm: 'Are you sure?' } %></li>
    <li><%= link_to 'Volver', fencers_path %></li>
  </ul>
<% end %>
