<h1><%= @fencer.name %></h1>

<p>Club: <%= @fencer.club %></p>
<p>Surname:  <%= @fencer.surname %></p>
<p>Nationality: <%= @fencer.nationality %></p>

<% if @team %>
  <h2> Team </h2>
  <ul>
    <% @team.fencers.each do |fencer| %>
      <li> <%= fencer.name %> <%= fencer.surname %> - <%= fencer.club %> - <%= fencer.nationality %></li>
    <% end %>

    <li> Name: <%= @team.name %> </li>
    <% if @team.poule_id %>
      <li> Poule: <%= link_to @team.poule_id, poule_path(@team.poule_id) %> Pista: <%= @team.poule&.piste %></li>
    <% else %>
      <li> Poule: Pista: <%= @team.poule&.piste %></li>
    <% end %>
    <li> Grupo: <%= link_to @team.elimination_group.id, @team.elimination_group %> </li>
  <% end %>
  </ul>

<% if user_signed_in? %>
  <ul>
    <li><%= link_to 'Edit', edit_fencer_path(@fencer) %></li>
    <li><%= link_to 'Destroy', fencer_path(@fencer),
      method: :delete,
      data: { confirm: 'Are you sure?' } %></li>
    <li><%= link_to 'Back', fencers_path %></li>
  </ul>
<% end %>
