<%= form_with model: @competition do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
    <% @competition.errors.full_messages_for(:name).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :date %><br>
    <%= form.date_field :date, value: form.object.try(:strftime,"%m/%d/%Y"), class: 'form-control' %>
    <% @competition.errors.full_messages_for(:date).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
